*{
    margin: 0;
    padding: 0;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

body{
    color: #333;
    background-color: #808080;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.topbar{
    height: 70px;
    width: 1050px;
    padding-left: 50px;
    box-sizing: border-box;
    background-color: #eaeaea;
    position: fixed;
    top: 0;
    z-index: 1;
    margin-left: -25px;
    border-radius: 0 0 25px 25px;
    border-bottom: 5px solid#333;
}

.topbar h1{
    color: #333;
    padding-top: 10px;
}

.topbar ul li{
    display: inline-block;
    padding-top: 30px;
}

.topbar ul li a{
    text-decoration: none;
    color: #333;
    border-radius: 10px;
    padding: 15px;
    margin-left: 15px;
    box-sizing: border-box;
    position: relative;
    right: -590px;
    top: -60px;
    background-color: white;
}

.container{
    width: 1000px;
    margin: 90px auto;
    background-color: #a9a9a9;
    border-radius: 30px;
    border: 3px solid #333;
    z-index: -1;
}

.foto{
    width: 1000px;
    height: 600px;
    background-image: url(18.jpg);
    border-radius: 30px;
    margin-bottom: 20px;
    border-bottom: 5px solid #333;
    border-top: 5px solid #333;   
    box-sizing: border-box;
}

.judul{
    text-align: center;
    padding: 20px 0 20px 0;
    background-color: #eaeaea;
    color: #333;
    border-radius: 30px;
    border-bottom: 5px solid #333;
    border-top: 5px solid #333;   
    box-sizing: border-box;
}

.judul p{
    padding-top: -20px;
}

.judul p a{
    text-decoration: none;
    color: #333;
}

.judul p a:hover{
    text-decoration: none;
    color: #f60;
}

.artikel{
    margin-top: 20px;
    width: 1000px;
    box-sizing: border-box;
    border-radius: 30px;
    margin-bottom: 20px;
}

.main{
    width: 500px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    background-color: #d3d3d3;
    border-radius: 30px; 
    border-bottom: 5px solid #333;
    border-top: 5px solid #333;    
}

.main h1{
    margin-left: 20px;
    margin-bottom: 20px;
}

.me{
    padding: 20px;
    width: 400px;
    float: right;
    background-color: #d3d3d3;
    border-radius: 30px;
    border-bottom: 5px solid #333;
    border-top: 5px solid #333;   
    box-sizing: border-box;
}

.me .gambar{
    background-image: url(hehe.jpg);
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 20px auto 0 auto;
    border: 3px solid black;
    border-radius: 50%;
}

.me h2{
    margin-top: 10px;
    text-align: center;
}

.login{
    width: 400px;
    height: 355px;
    padding: 30px;
    text-align: center;
    float: right;
    background-color: #d3d3d3;
    margin-top: 20px;
    border-radius: 30px;
    border-top: 5px solid #333;   
    border-bottom: 5px solid #333;
    box-sizing: border-box;   
}

.login input{
    text-align: center;
    background-color: #eaeaea;
    display: block;
    margin: auto;
    border-radius: 35px;
    padding: 8px;
}

.login .input{
    margin-bottom: 5px;
}

.login h3{
    margin-top: 60px;
    margin-bottom: 30px;
}

.login a{
    color: #333;
    text-decoration: none;
    text-align: center;
}

.login .button{
    width: 110px;
    height: 30px;
    padding: 2px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    line-height: 30px;
    border: 2px solid black;
    background-color: #eaeaea;
}

.login .button:hover{
    background-color: #333;
    color: white;
}

.flooter{
    height: 70px;
    width: 1000px;
    border-top: 5px solid#333;
    border-bottom: 5px solid#333;
    background-color: #eaeaea;
    bottom: 0;
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-sizing: border-box;
}

.flooter .copy{
    text-align: center;
    line-height: 70px;
    font-size: 18px;
}
 
.flooter p a{
    text-decoration: none;
    color: #333;
}

.flooter p a:hover{
    text-decoration: none;
    color: #f60;
}